**/bin/
**/libs/
**/obj/
**/.settings/
**/.DS_Store
**/gen/
**/.cproject
**/.project
**/tags
**/*.iml
**/*.idea/
.gradle
**/gradle
**/build/
**/local.properties
**/.vscode
**/.classpath
**/*.pdb
**/*.user
**/xcuserdata/
**/xcshareddata/
**/contents.xcworkspacedata 
.repo/
repo
**/.vs/
dist/
release/
rtc_common
**/log.txt
../frtc_call.log
**/DerivedData/
**/daily-build/
**/*.code-workspace
**/*.versioned.xml
**/*.versioned.xml.bak
**/**.xcworkspace/xcuserdata/
SQMeeting/SQMeeting-arm64.xcworkspace/xcuserdata/
SQMeeting/SQMeeting.xcworkspace/xcuserdata/
SQMeeting/SQMeeting-arm64.xcodeproj/xcuserdata/
SQMeeting/.DS_Store
SQMeeting/Release/
frtc_sdk/lib/libfrtc_sdk.a
